<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <img
      class="portrait"
      src='https://discovery.sndimg.com/content/dam/images/discovery/editorial/Curiosity/2020/3/Color_Dinosaurs_Getty_Images.jpg.rend.hgtvcom.616.616.suffix/1583454329186.jpeg'
      alt='A ferocious dinosaur'
    />
    </div>
    {{>footer}}
  </body>
</html>